body{
	background-color: #ffe6f2;
}

h1{
 color: #f08080;
}

#header{
	background-color: brown;
	padding: 3px;
}

.frame{
	background-color: #fff5ff;
	height: 100%;
	box-shadow: -3px 3px 10px 0px rgba(150,10,20,0.3);
}

.content{
	background-color: #fff5ff;
	height: 100%;
	padding: 15px;
}

.checklist, .checklist.h3{
	background-color: #f08080;
	color: whitesmoke;
	padding: 15px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.btn.sidebar{
	width: 100%;
}

.bg_windmills{
	background-image: url("../bgs/windmills.png");
}

.bg_pinkcheck{
	background-image: url("../bgs/pinkcheck.png");
}

.bg_pinkspaghetti{
	background-image: url("../bgs/pinkspaghetti.png");
}